<div   class="container">
    <div  class="top-navbar header b-b">
      <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#">
        <i class="icon-reorder"></i>
      </a>
      <div class="brand pull-left">
        <a>
        </a>
      </div>
  
    
    </div>
  </div>
<!-- <toaster-container [toasterconfig]="config1"></toaster-container> -->

<div class="wrapper">
  <div class="left-nav">
    <div id="side-nav">
      <ul id="nav">
        <li  class="{{current_tab == 'command' ? 'current': ''}}"> <a  (click)="changeCurrentTab('command')"> <i class="icon-edit"></i> Run login </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">

    <div class="content container" *ngIf="current_tab=='home'" >
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title">Dashboard <small>Thông tin tổng quan</small></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Account</div>
              <div class="stats-body-alt">

                <div class="text-center"><span class="text-top">$</span>{{ appData.account ? appData.account: 0}}</div>
                <small>{{ appData.current_account}} acc đang chạy </small> </div>
              <div class="stats-footer" (click)="changeCurrentTab('account')" >Chi tiết</div>
            </a> </div>
            <div class="col-md-3 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Proxy</div>
              <div class="stats-body-alt">

                <div class="text-center"><span class="text-top">$</span>0</div>
                <small>100 proxy đang chạy </small> </div>
              <div class="stats-footer">chi tiết</div>
            </a> </div>
            <div class="col-md-3 col-xs-12 col-sm-6"> <a class="stats-container">
              <div class="stats-heading">User</div>
              <div class="stats-body-alt">

                <div class="text-center"><span class="text-top"></span>{{appData.user ? appData.user : 0}}</div>
                <small>{{appData.current_user ? appData.current_user :0}} user đang hoạt động</small> </div>
              <div class="stats-footer" (click)="changeCurrentTab('user')">chi tiết</div>
            </a> </div>
            <div class="col-md-3 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Gift</div>
              <div class="stats-body-alt">

                <div class="text-center"><span class="text-top">$</span>{{appData.balance}}</div>
                <small>{{appData.current_balance}} $</small> </div>
              <div class="stats-footer" (click)="changeCurrentTab('result')">Chi tiết</div>
            </a> </div>
          </div>
        </div>
      </div>

  </div>
    <command  *ngIf="current_tab=='command'" ></command>
</div>

</div>
<div  class="bottom-nav footer" style="margin-bottom: 100px"> 2018 &copy; tool manager login  </div>
